body {
	margin: 0;
	background-color: #eee;
}
a {
	text-decoration: none;
}
.header {
	display: flex;
	background: #333;
	padding: 10px 8%;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #FFF;
	flex-wrap: wrap;
	background: #333;
	padding: 12px 8%;
}
.header h1{
	color: #FFF;
	margin: 0;
	padding: 0;
	font-size: 28px;
	font-family: 'Fredoka One', cursive;
}
.container{
	width: 768px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.auth, .registration{
	margin: 20px;
	padding: 25px;
	background: rgba(255,255,255, 0.85);
	display: inline-block;
	border-radius: 5px;
}
button{
	padding: 7px 0;
	border: 0;
	font-size: 16px;
	width: 85%;
	margin-top: 10px;
	color: #FFF;
	border-radius: 3px;
}
.auth button{
	background-color: #508dd2;
}
.auth button:hover{
	background-color: #6499d6;
}
.registration button{
	background-color: #5fb053;
}
.registration button:hover{
	background-color: #7dcc71;
}
.message-section button{
	background-color: #334865;
	width: 50%;
}
.message-section button:hover{
	background-color: #455e80;
}

h2{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	display: block;
	margin: 5px auto;
	text-align: center;
	color: #333;
}
.form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form input, .message-section textarea{
	margin: 5px;
	padding: 5px;
	border: 1px solid #d3d9de;
	border-radius: 3px;
}

.form input:focus, .message-section textarea:focus{
	outline: 0;
}
.message-section{
	margin: 20px 0;
	padding: 25px 100px;
	background: #FFF;
	border-radius: 5px;
}